.div1 {
    font-weight: bold;
    font-size: 30px;
    display: flex;
    
}

body {
display: flex;
align-items: center;
flex-direction: column;
}

.box1 {
    color: greenyellow;
    display: flex;
    margin-top: 20px;
    
    width: 440px;
    height: 40px;
    background-color: black;
    border-radius: 30px;
    justify-content: flex-end;
    align-items: center;
    
}

.div2 {
    display: flex;
    margin-right: 15px;
    font-size: 30px;
    font-weight: bold;
}

.f1 {
    display: flex;
    
}

.btn {
    font-weight: bold;
    font-size: 35px;
    margin: 5px;
    border-radius: 20px;
    height: 100px;
    width: 100px;
    background-color: lightgray;
    
}

